$primary-color: #272727;    //variable
$accent-color: #ff652f;     //variable
$text-color: #fff;          //variable
$font-weights: (
    "regular" : 400,
    "medium" : 500,
    "bold" : 700
);   
   